@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    margin: 0;
    padding: 0;
}

.width-1060 {
    width: 1060px;
    margin: auto;
    display: block;
}
.header {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

.header a {
    color: #16a085;
    padding: 30px;
}

a:link {
    text-decoration: none;
    font-family: "Roboto";
    font-size: 18px;
    letter-spacing: 2px;
}

.img-center {
    display: block;
    margin: 0 auto;
    left: 0;
    width: 100%;
    margin-bottom: 0px;
}

.container {
    background-color: #f5f6f7;
    width: 100%;
    height: 790px;
    margin-bottom: 30px;

}

.title-text {
    text-align: center;
    font-family: "Roboto";
    text-transform: uppercase;
    color: #373737;
    font-size: 22px;
    letter-spacing: 2px;
    margin-bottom: 30px;
    padding-top: 56px;
    padding-bottom: 17px;
}

.main-text {
    text-align: center;
    font-family: "Roboto";
    color: #373737;
    letter-spacing: 2px;
    padding-top: 17px;
    padding-bottom: 17px;

    font-size: 16px;
    line-height: 2;
}

.button-get-started {
    font-family: "Roboto";
    font-size: 12px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 110px;
}

.button-get-started a {
    color: #ffffff;
    padding: 30px;
    background: #16a085;

}

footer {
    font-family: "Roboto";
    font-size: 16px;
    color: #373737;
    letter-spacing: 2px;
    text-align: right;
    margin: 50px;
}

